[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
python-multipart = "*"
python-jose = "*"
passlib = "*"
redis = "*"
pydantic = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
